Web References/ITSWebc/twsITSWebc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://itsapi.etraining.gov.tw/ITSWebExport/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://itsapi.etraining.gov.tw/ITSWebExport/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://itsapi.etraining.gov.tw/ITSWebExport/">
      <s:element name="GetStudHis1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_AUTH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s_IDNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s_BIRTHDAY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudHis1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudHis1Result" type="tns:ResultOfSTUDENT_TRAINING_HISTORY_VIEW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultOfSTUDENT_TRAINING_HISTORY_VIEW">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="response" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HashCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Records" type="tns:ArrayOfSTUDENT_TRAINING_HISTORY_VIEW" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSTUDENT_TRAINING_HISTORY_VIEW">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="STUDENT_TRAINING_HISTORY_VIEW" nillable="true" type="tns:STUDENT_TRAINING_HISTORY_VIEW" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STUDENT_TRAINING_HISTORY_VIEW">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HashCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TPLANID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OCID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TWYEAR" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DISTID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DISTNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NTPSNO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NTPNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BCM_SNO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CLASSNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CYCLTYPE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BNA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BTINAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UP_GOV_BTINAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CDI_BEGIN_DATE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CDI_END_DATE" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="THOURS" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TPERIOD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HOURRANNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TRAINHOURS" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CTTNO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TRAINNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CGJTNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CGJT_NAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SCDNO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SOCID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IDNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ISDuplicate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ENAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GENDER" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BIRTHDAY" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CSSNO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CSS_STATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WORKSUPPIDENT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WORKSUPPIDENT_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="REJECTDAYIN14" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CJCNO" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JOBSTATE" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CGTID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CGTNAME" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SUMOFMONEY" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CBTID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CBTNAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APPLIEDSTATUSM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APPLIEDSTATUSM_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APPLIEDSTATUS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APPLIEDSTATUS_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APPLIEDNOTE" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ALLOTDATE" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EXIT_DATE" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStudHis2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_AUTH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s_IDNOs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudHis2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudHis2Result" type="tns:ResultOfSTUDENT_TRAINING_HISTORY_VIEW" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudHis1SoapIn">
    <wsdl:part name="parameters" element="tns:GetStudHis1" />
  </wsdl:message>
  <wsdl:message name="GetStudHis1SoapOut">
    <wsdl:part name="parameters" element="tns:GetStudHis1Response" />
  </wsdl:message>
  <wsdl:message name="GetStudHis2SoapIn">
    <wsdl:part name="parameters" element="tns:GetStudHis2" />
  </wsdl:message>
  <wsdl:message name="GetStudHis2SoapOut">
    <wsdl:part name="parameters" element="tns:GetStudHis2Response" />
  </wsdl:message>
  <wsdl:portType name="twsITSWebcSoap">
    <wsdl:operation name="GetStudHis1">
      <wsdl:input message="tns:GetStudHis1SoapIn" />
      <wsdl:output message="tns:GetStudHis1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudHis2">
      <wsdl:input message="tns:GetStudHis2SoapIn" />
      <wsdl:output message="tns:GetStudHis2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="twsITSWebcSoap" type="tns:twsITSWebcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudHis1">
      <soap:operation soapAction="https://itsapi.etraining.gov.tw/ITSWebExport/GetStudHis1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudHis2">
      <soap:operation soapAction="https://itsapi.etraining.gov.tw/ITSWebExport/GetStudHis2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="twsITSWebcSoap12" type="tns:twsITSWebcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudHis1">
      <soap12:operation soapAction="https://itsapi.etraining.gov.tw/ITSWebExport/GetStudHis1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudHis2">
      <soap12:operation soapAction="https://itsapi.etraining.gov.tw/ITSWebExport/GetStudHis2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="twsITSWebc">
    <wsdl:port name="twsITSWebcSoap" binding="tns:twsITSWebcSoap">
      <soap:address location="https://ojfile119.ejob.gov.tw/ITSWebc/twsITSWebc.asmx" />
    </wsdl:port>
    <wsdl:port name="twsITSWebcSoap12" binding="tns:twsITSWebcSoap12">
      <soap12:address location="https://ojfile119.ejob.gov.tw/ITSWebc/twsITSWebc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>